.about-container-title{
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-left: 15px;
    border-bottom: 2px solid black;
    font-weight: bold;
    padding-bottom: 10px;
    margin-right:10px
}

.about-main-div-container{
    width:100%;
    display: inline;
}
.about-gap{
    padding-top: 110px;
}

.about-container-data{
    border:1px solid gray;
    word-spacing: 4px;
    padding:10px;
    margin: 10px;
    border-radius: 2px;
    line-height: 22px;
}

.about-img img{
    width:100%;
    margin-bottom: 20px;
    max-width: 300px;
}
br{
    margin:20px;
}

.about-detail-more-button{
    color:rgb(255, 177, 21);
    background-color: white;
    border:.5px solid rgb(196, 196, 196);
    padding:7px;
    font-weight: bold;
    margin: 10px;
}

.home-tab-main-data-container{
    display: flex;
    justify-content: center;
}

@media  screen and (max-width:700px){
   .home-tab-main-data-container{
    display: block;
    justify-content: center;
}
}
.gap{
    height:15px
}
