.slider-container {
    /* Define the size of your slider */
    width: 100%;
    height:400px;
    margin-bottom:50px ;    
    position: relative; /* Essential for absolute positioning of images */
    overflow: hidden; /* Clips the images outside the defined area */
    border: 5px solid #333; /* Optional: adds a border */
    margin-top: 90px;
}

.slider-img {
    width: 100%; /* Image takes full width of the container */
    height: 100%; /* Image takes full height of the container */
    position: absolute; /* Stack images on top of each other */
    top: 0;
    left: 0;
    opacity: 0; /* Initially hide all images */
    transition: opacity 1s ease-in-out; /* Smooth transition effect */
}

.slider-img.active {
    opacity: 1; /* Show the active image */
}
@media screen and (max-width: 800px) {
.slider-container{
    height:200px;
}    
}